html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f9e3bd;
    color: #3d3e3b;
}

body {
    margin: 0px;
}

.centered-text {
    text-align: center;
}

.centered-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hanging-indent {
    padding-left: 22px ;
    text-indent: -22px ;
}

#main-content {
    max-width: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 40px;
}

.footnote-link {
    vertical-align: super;
    font-size: 14px;
    color: #3d3e3b;
    margin-left: 3px;
}

#menu {
    max-width: 80%;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#menu > ul {
    list-style: none;
    margin: 0px;
}

#menu > ul > li {
    display: inline-block;
    margin-right: 10px;
}

#menu li {
    padding: 10px;
}

#menu a {
    text-decoration: none;
    color: #3d3e3b;
}

#menu li:hover, #menu li:hover > a {
    background-color: #3d3e3b;
    color: #f9e3bd;
}

#menu .poem-list-container {
    position: relative;
    display: inline-block;
}

#menu .poem-list {
    display: none;
    list-style: none;
    padding: 0px;
    margin-left: -10px;
    margin-top: 10px;
    background-color: white;
    min-width: 400px;
    position: absolute;
    z-index: 1;
}

#menu .poem-list-container:hover .poem-list {
    display: block;
}
